@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(131, 255, 131);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form
{
  position:absolute;
  top: 50%;
  left: 30%;
  width: 600px;
  background-color: rgb(0, 155, 0);
}
.add-btn
{
  position: absolute;
  top: 60%;
  left: 43%;
  width: 100px;
}
.erase-btn
{
  position: absolute;
  top: 60%;
  left: 49%;
  width: 100px;
}
.scris
{
  position: absolute;
  top: 65%;
  left: 46.5%;
  width: 100px;
}
.todos
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico', cursive;
}
.titlu
{
  position:absolute;
  top: 70%;
  left: 44.55%;
  font-family: 'Bungee', cursive;
  font-family: 'Pacifico', cursive;
}

